* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;

}


img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* TIPOGRAFÍAS */
h1 {
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
  font-size: 120px;
  color: #000000;
}

h2 {
   font-family: "Press Start 2P", system-ui;
   font-style: normal; 
   font-size: 64px;
    font-weight: 400;
    line-height: 64px;
}

h3 {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-size: 24px;
  color: #000000;
}

h4 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 32px;
}

.wrapper {
  margin: 0 auto;
  padding: 0 40px;
}

nav > .aboutygall {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  color: #000000;
  justify-content: space-between;
  /* margin-left: 200px;
  margin-right: 200px; */
  }

/* HOME */
  #home > .me {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  #home > .me > span {
    margin-bottom: 200px;
  }

/* TRABAJO TIPOGRÁFICO */
  #tipo > h2 {
    margin-bottom: 200px;
    text-align: center;
    color: #CE1C83; 
    }

    #tipo > p {
      text-align: center;
      font-size: 28px;
      margin-bottom: 100px;
    }
  
    /* Aguja */
    #tipo > .aguja > .reticulas {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
      
    #tipo > .aguja > .reticulas > img {
      width: 300px;
    }

    #tipo > .aguja > .boxtipos {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    #tipo > .aguja > .boxtipos > img {
      width: 600px;
    }

    #tipo > .aguja {
      display: flex;
      flex-direction: row;
      gap: 100px;
      justify-content: center;
      margin-bottom: 200px;
    }

/* PACKAGING */
  #packaging > h2 {
      text-align: center;
      margin-bottom: 100px;
      color: #3A7EFE;
    }

    #packaging > p {
      text-align: center;
      font-size: 28px;
      margin-bottom: 100px;
    }

    #packaging > .imgpack {
      display: flex;
      flex-direction: row;
      gap: 50px;
      align-items: end;
      margin-bottom: 100px;
      justify-content: center;
    }

    #packaging > .imgpack > :first-child {
      width: 700px;
    }

    #packaging > .imgpack > :last-child {
      width: 500px;
    }

/* ABOUT-ME */
  #sobremi > h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #000000;
    }

  #sobremi > .about {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }

  #sobremi > .about > .titulos-texto {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  #sobremi > .about > .titulos-texto > .hola {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
  }

  #sobremi > .about > .titulos-texto > .estudios {
    display: flex;
    flex-direction: row;
    gap: 305px;
    align-items: center;
  }

  #sobremi > .about > .titulos-texto > .idiomas {
    display: flex;
    flex-direction: row;
    gap: 310px;
    align-items: center;
  }

  #sobremi > .about > .img-icons > img {
    width: 50px;
  }



/* OTROS TRABAJOS */
/* GALLERY.HTML */
/* #hGallery {
    background-color: aqua;
    height: 100vh;
} */


#gallery {
    padding: 20px 0 80px 0;
}

#gallery > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#gallery > ul > li {
    height: 25vh;
    flex-grow: 1;
}

#gallery > ul > li > img {
  max-height: 100%;
  min-width: 100;
  object-fit: cover;
}

#gallery > h2 {
 margin-top: 80px;
 margin-bottom: 80px;
}
